<%- include('partials/header') -%>

<!-- <main class="home container-fluid">
    <div class="row justify-content-around mt-5">
        <h1>Preserving our roots through the lens of food</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem culpa amet voluptatum autem nihil quo repudiandae placeat natus dolor sit!</p>
        <a href="/signup" class="col-3 btn btn-primary"> Signup for Comal</a> -->
        <!-- <a href="/login" class="col-3 btn btn-primary"> Login</a> -->
    <!-- </div>
</main> -->

<header class="page-header gradient">
    <div class="container pt-3">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-5">
          <h1>Preserving our roots through the lens of food</h1>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur libero a, modi possimus iste impedit repellendus voluptate alias odit numquam unde quod consequuntur corporis dicta?
          </p>
          <a href="/signup" type="button" class="btn btn-outline-success btn-lg">
            Signup for Comal
          </a>
        </div>
        <div class="col-md-5">
          <img
            src="/imgs/Mask-Group-72.png"
            alt="Header image"
          />
        </div>
      </div>
    </div>
  </header>
  
    

<%- include('partials/footer') -%>